<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/logotip.css">
    <link rel="stylesheet" type="text/css" href="/css/shrifts.css">
    <link rel="stylesheet" type="text/css" href=" /css/layour/style.css">
    <link rel="stylesheet" type="text/css" href="/css/basement.css">
    <link rel="stylesheet" type="text/css" href="/css/advertisement/advertisement.css">
    <link rel="stylesheet" type="text/css" href="/css/razdel-mobil.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Kirill Andreev">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://stormgames/advertisement>">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StormGames - является одним из крупнейших российских порталов в мире видео-игр. Проект StormGames стал самым крупным СМИ размещенный на территории России и СНГ, посвященный видео-играм" /> <!--добавит описание страницы-->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="keywords" content="реклама, публикация, баннеры, рекламный баннер, видеореклама">

    <link rel="shortcut icon" href="/foto/favicon3.png" type="image/png">
    <title>StormGames</title>
</head>
<body>
    <%- include('head'); -%>
    <div class="indent_under_header"></div>

    <section class="introduction">
        <div class="beginning">
            <h1>StormGames - является одним из крупнейших российских порталов в мире видео-игр</h1>
            <p>Проект StormGames стал самым крупным СМИ размещенный на территории России и СНГ, посвященный видео-играм</p>
        </div>
        <img src="/foto/games.png" class="ass">

        
    </section>
    <section class="auditorium">
        <div class="contours">
            <img src="/foto/silhouette.png" class="people" alt="people">
            <img src="/foto/playstation.png" class="gamepad" alt="gamepad">
        </div>
        <div class="discriptions">
            <div class="peo">
                <p class="heading">Объединяющее людей в сообщество</p>
                <p class="info">Мы даем возможность быть в курсе последних новостей, находить единомышленников, организовывать клубы с общими интересами.</p>
            </div>
            <div class="gam">
                <p class="heading">Полная информация современных видеоигр</p>
                <p class="info">У нас можно найти последнюю информацию вашей любимой игры, узнать разные секркты, пасхалки и многое другое </p>
            </div>
        </div>
    </section>
    <section class="formats">
        <div class="name">
            <h2>Рекламные форматы</h2>
        </div>
        
        <div class="forms">
            <div class="clear">
                <div class="in">
                    <img src="/foto/one.png" alt="screen" class="screen">
                    <div class="descriptionBanner">
                        <p class="nameBanner">Фиксированный банер</p>
                        <p class="infoBanner">Данный тип рекламы представляет собой банер закрепленный в нижней части экрана пользователя. Ширина банера - 100%, высота не может привышать 10% от размера экрана пользователя. Пользователь может закрыть банер самостоятельно после его отображения на экране. Банер может представлять собой изображение или видео. После клика на банер возможен переход на сайт в новом окне.</p>
                    </div>
                </div>
            </div>
            <div class="clear">
                <div class="in">
                    <img src="/foto/two.png" alt="screen" class="screen">
                    <div class="descriptionBanner">
                        <p class="nameBanner">Фоновая реклама</p>
                        <p class="infoBanner">Данный тип рекламы представляет собой изображение, предоставленное рекламодателем, которое будет закрепленно как фоном на всех страницах (кроме главной). При необходимости возможно изменение верхней и боковой растяжки. После клика на банер возможен переход на сайт в новом окне.</p>
                    </div>
                </div>
            </div>
            <div class="clear">
                <div class="in">
                    <img src="/foto/three.png" alt="screen" class="screen">
                    <div class="descriptionBanner">
                        <p class="nameBanner">Банер</p>
                        <p class="infoBanner">Данный тип рекламы представляет собой изображение, предоставленное рекламодателем, которое будет выводится пользователю в списке статей. Такая реклама может выводится в определенном месте таким образом чтобы пользователь обращал на них больше внимания. После клика на банер возможен переход на сайт в новом окне.</p>
                    </div>
                </div>
            </div>
            <div class="clear">
                <div class="in">
                    <img src="/foto/thour.png" alt="screen" class="screen">
                    <div class="descriptionBanner">
                        <p class="nameBanner">Видео-реклама</p>
                        <p class="infoBanner">Данный тип рекламы представляет собой видеоролик, предоставленное рекламодателем, которое будет выводится пользователю в списке статей. Такая реклама может выводится в определенном месте таким образом чтобы пользователь обращал на них больше внимания. Данный тип рекламы является наиболее эффективным с точки зрения информирования пользователя</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <%- include('basement'); -%> 
</body>
</html>