<footer>
<div class="basement">
        <div class="co">
                <div class="in">
                        <div><img src="/foto/18.jpg" class="committed"></div>
                        <div class="info">
                                <i class="copyright">Copyright © 2021-2021</i><br>
                                <i class="copyright">Сайт разрешен для лиц старше 18 лет</i><br>
                                <i class="copyright">Все права защищены. Копирование материалов возможно только после согласования с администратором</i>
                        </div>
                        
                </div>
                <div class="columns">
                        <div>
                                <div class="nameCommunity">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="10" height="30" class="svg" top="5px">
                                                <line x1="0" y1="0" x2="0" y2="32" stroke="#9100d4" stroke-width="10"  />
                                    </svg> <span class="spans">Сообщества</span></div>
                                <ul>
                                        <li><a href="">Телеграм</a></li>
                                        <li><a href="https://vk.com/stormsgames">ВКонтакте</a></li>
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Instagram</a></li>
                                </ul>
                        </div>
                        <div>
                                <div class="nameCommunity">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="10" height="30" class="svg" top="5px">
                                                <line x1="0" y1="0" x2="0" y2="32" stroke="#9100d4" stroke-width="10"  />
                                    </svg> <span class="spans">Карта сайта</span> </div>
                                <ul>
                                        <li>
                                                <a href="/">Главная страница</a>
                                        </li>
                                        <li >
                                                <a href="/cybersport">Cybersport</a>
                                        </li>
                                        <li>
                                                <a href="/gaming-industry">Игровая индустрия</a>
                                        </li>
                                        <li >
                                                <a href="/computer-games">Компьютерные игры</a>
                                        </li>
                                        <li >
                                                <a href="/electronic-enginnering">Компьютерные технологии</a>
                                        </li>
                                </ul>
                        </div>
                        <div>
                                <div class="nameCommunity">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="10" height="30" class="svg" top="5px">
                                                <line x1="0" y1="0" x2="0" y2="32" stroke="#9100d4" stroke-width="10"  />
                                    </svg> <span class="spans">О нас</span></div>
                                <ul>
                                        <li>
                                                <a href="/about">О проекте</a>
                                        </li>
                                        <li >
                                                <a href="/advertisement">Реклама на сайте</a>
                                        </li>
                                        <li>
                                                <a href="/contacts">Контакты</a>
                                        </li>
                                        <!--<li >
                                                <a href="#" style="pointer-events: none;">Публикация своей статьи <span style="font-size: 13px;">(Временно недоступно)</span></a>
                                        </li>-->
                                </ul>
                        </div>
                </div>
                
        </div>
</div>
</footer>