<header>
<div id="rightcol">
    <div class="random" style="font-size: 1.2em;">
            <span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span></span>
            <span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span><span class="nbr ltr">0</span>
    </div>
    <div class="background-battons">
        <div><a href="/">Главная</a></div>
        <div><a href="/gaming-industry">Игровая индрустрия</a></div>
        <div><a href="/cybersport">Cybersport</a></div>
        <div><a href="/computer-games">Компьютерные игры</a></div>
        <div><a href="/electronic-enginnering">Компьютерные технологии</a></div>
    </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    
      <script src="/js/logotip.js"></script>
</div>
</header>