<div class="wrapper">
    <div class="menu">
        <a class="square" href="#">
            <div class="burgerwrap">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>

        <nav class="menu_list">
            <a href="/">Главная</a>
            <a href="/gaming-industry">Игровая индрустрия</a>
            <a href="/cybersport">Cybersport</a>
            <a href="/computer-games">Компьютерные игры</a>
            <a href="/electronic-enginnering" align="center">Компьютерные технологии</a>
        </nav>
    </div>
</div>