@media screen and (max-width: 600px) {
    .mobil{
        position: relative;
        top: -5px;
        background: #696969;
        margin: 0px;
        padding: 0px;
        height: 100px;
        width: 100%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -23px 0 20px -23px rgba(0, 0, 0, .8),
        23px 0 20px -23px rgba(0, 0, 0, .8),
        0 0 40px rgba(0, 0, 0, .1) inset;
    }
}