
  .random{
    left: 2%;
    width: 30%;
    text-transform: none;
    position: relative;
  }
  .random span {
    width: 7%;
    display: inline-table;

  }
  .random h1{
    font-size: 18px;
  }
  #rightcol { /* Этот слой накладывается поверх */ 
    position: absolute; /* Относительное позиционирование */
    left: 1%; /* Положение от левого края */
    width: 98%; /* Ширина правой колонки */
    height: 80px;
    background: #696969; /* Цвет фона */
    color: #fff; /* Цвет текста */
    opacity: 0.8;
    border-radius: 0% 0% 20px 20px;
    z-index: 2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
   }
.background-battons{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.background-battons a {
  text-decoration: none;
  font-family: discription;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-battons div{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.background-battons div:nth-child(1){
  width: 80px;
}

.background-battons div:nth-child(2){
  width: 190px;
}

.background-battons div:nth-child(3){
  width: 100px;
}

.background-battons div:nth-child(4){
  width: 190px;
}

.background-battons div:nth-child(5){
  width: 135px;
}

.background-battons div:hover{
  background: #575656; /* Цвет фона */
  opacity: 0.85;
}

@media (min-width:900px) and (max-width: 1100px) {
  .background-battons a {
    text-decoration: none;
    font-family: discription;
    color: white;
    text-align: center;
    font-size: 15px;
  }

  .background-battons div:nth-child(1){
    width: 70px;
  }
  
  .background-battons div:nth-child(2){
    width: 170px;
  }
  
  .background-battons div:nth-child(3){
    width: 100px;
  }
  
  .background-battons div:nth-child(4){
    width: 170px;
  }
  
  .background-battons div:nth-child(5){
    width: 110px;
  }
  
}

@media (min-width:800px) and (max-width: 899px) {
  .background-battons a {
    text-decoration: none;
    font-family: discription;
    color: white;
    text-align: center;
    font-size: 14px;
  }

  .background-battons div:nth-child(1){
    width: 70px;
  }
  
  .background-battons div:nth-child(2){
    width: 150px;
  }
  
  .background-battons div:nth-child(3){
    width: 90px;
  }
  
  .background-battons div:nth-child(4){
    width: 150px;
  }
  
  .background-battons div:nth-child(5){
    width: 100px;
  }
}
@media screen and (max-width: 799px) {
  .background-battons{
    display: none;
  }

  @media screen and (max-width: 500px) {
    .random{
      left: 2%;
      width: 45%;
      text-transform: none;
      position: relative;
    }
  }

}