@media screen and (max-width: 900px) {
    .tworazdel{
        position: relative;
        background: #706e6e;
        width: calc(100%-5vw);
        height: 800px;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2.5vw;
    }

    .onecolumn{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: 100%;
        height:75%;
        z-index: 0;
    }

    .twocolumn{
        position: relative;
        width: 100%;
        height:21%;
        z-index: 0;
    }

    .temaone, .tematwo, .temathree{
        position: relative;
        width: calc(100% - 2vw);
        height: 28%;
        margin: 0px;
        opacity: 0;
        box-shadow: 0 0 10px;
    }

    .temafour {
        position: relative;
        width: calc(100% - 2vw);
        height: 100% /*calc(103% - 2vw)*/;
        top: -2%;
        opacity: 0;
        box-shadow: 0 0 10px;
    }
    @keyframes fade{
        0%{opacity:0;}
        100%{opacity:1;}
      }

}

@media screen and (max-width: 600px) {
    body{
        top:-10px;
    }
}
